:root {
  --primary: #ffff;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #a2d9ff;
}

#projects {
  background-color: #a2d9ff;
}

section {
  padding-top: 5rem;
}

/* Navbar */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
  transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}
